@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pathway Extreme", sans-serif;
}

body {
  background-color: rgb(41, 36, 53);
  color: white;
}

h1 {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  height: 100vh;
overflow: hidden;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 400px;
  width: 400px;
  gap: 1.5rem;
}

span {
  height: 100%;
  width: 100%;
  min-height: 90px;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(9, 7, 22);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  font-size: 4rem;
}

span:hover {
  background-color: rgb(60, 42, 180);
}

.alreadyPlaced:hover {
  background-color: #f92f6142;
}

.score-container{
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

.score-container p > b{
  font-weight: bold;
  color: rgb(90, 70, 219);
  font-size: 1.2rem;
  margin: 5px;
}

.play-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.play {
  border: none;
  box-shadow: 0px 5px 0px rgb(46, 36, 116);
  border-radius: 5px;
  padding: 10px 50px;
  transform: scale(150%);
  font-weight: bold;
  font-size: large;
  color: white;
  background-color: rgb(90, 70, 219);
  cursor: pointer;
  transition: 0.2s ease-out;
}

.play:hover {
  transform: scale(170%);
  box-shadow: none;
  background-color: #f92f60;
}
.reset {
  display: flex;
  border: none;
  box-shadow: 0px 5px 0px rgb(46, 36, 116);
  border-radius: 5px;
  padding: 10px 50px;
  font-weight: bold;
  font-size: large;
  color: white;
  background-color: rgb(90, 70, 219);
  cursor: pointer;
  transition: 0.2s ease-out;
}

.reset:hover {
  transform: scale(120%);
  box-shadow: none;
  background-color: #f92f60;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

footer {
  font-size: 1.5rem;
}

footer a {
  font-size: 3rem;
  color: white;
  transition: 0.4s ease-in-out;
}

footer a:hover {
  color: rgb(90, 70, 219);
  transform: scale(120%);
}

.winner {
  position: absolute;
  background-color: rgb(239, 239, 253);
  color: black;
  width: 550px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 10px;
  box-shadow: 0px 10px rgb(90, 70, 219);
}

.winnerSequence{
  background-color: rgb(66, 255, 122);
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 3rem;
  }

  .board-container{
    width: 320px;
    height: 320px;
  }

  span{
    height: 100%;
    min-height: 90px;
    width: 100%;
  }
}